<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfzylc7wo/image/upload/v1669384819/development/myke-simon-atsUqIm3wxo-unsplash_zj27vh.jpg);">
    <div class="container">
      <h1>Movie lover?</h1>
      <p>Create move lists - and share them with your friends!</p>
    </div>
  </div>
</div>

<div class="container-cards" display="flex">
  <a href='#' class="box">
      <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
      <div class="overlay">
        <h3 class="title" href='#'>Lorem, ipsum dolor</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
      </div>
      </a>
</div>
